@import "../ui.scss";

.home-desktop {
    color: $white;
    min-height: 100vh;
    background-image: url(../assets/imgs/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;

    @media (min-width: 1500px) {
        padding: 0 22vw;
    }

    .container {
        width: 100%;
        font-size: 8px;
        padding-top: 4em;

        @media (min-width: 576px) {
        }

        @media (min-width: 768px) {
            font-size: 10px;
        }

        @media (min-width: 992px) {
            font-size: 12px;
        }

        @media (min-width: 1200px) {
            font-size: 14px;
        }

        @media (min-width: 1400px) {
            font-size: 16px;
        }

        header {
            display: flex;

            h1 {
                font-family: "Cruinn";
                font-weight: bold;
                font-size: 3.2em;
                line-height: 1em;
                background: $gradient;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                margin: 0;
                width: 50%;
                min-width: 250px;

                span:last-child {
                    display: block;
                    margin-top: -10px;
                    margin-bottom: 20px;
                }
            }

            .login-btn {
                width: 50%;
                display: block;
                text-align: right;
                font-family: "Geologica";
                font-weight: 200;
                font-size: 14px;
                line-height: 18px;
                text-decoration: underline;
                color: $white;
            }
        }

        .description {
            display: flex;
            flex-direction: row;

            &__text-wrap {
                width: 50%;
                h2 {
                    font-family: "Geologica";
                    font-weight: normal;
                    font-size: 2em;
                    line-height: 1.1em;
                    margin-top: 0;
                    margin-bottom: 20px;
                }
                .text {
                    font-family: "Geologica";
                    font-weight: 200;
                    font-size: 1.4em;
                    line-height: 1.4em;
                    margin-bottom: 40px;
                    color: $gray;
                }

                .qr-code-text {
                    font-family: "Geologica";
                    font-weight: 600;
                    font-size: 1em;
                    line-height: 1em;
                    margin-bottom: 40px;
                    color: $gray;
                }
                .qr-code {
                    width: 100px;
                }
            }
            &__image-wrap {
                text-align: right;
                width: 50%;
                padding-right: 5vw;
                height: auto;

                .app-screens {
                    width: 90%;
                    max-width: 450px;
                }
            }
        }

        .description-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 40px;

            h2 {
                font-family: "Geologica";
                font-weight: normal;
                font-size: 2em;
                text-align: center;
                line-height: 1.1em;
                margin-top: 0;
                margin-bottom: 20px;
            }
            .text {
                font-family: "Geologica";
                font-weight: 200;
                font-size: 1.4em;
                line-height: 1.4em;
                text-align: center;
                margin-bottom: 20px;
                margin-top: 0;
                color: $gray;
            }
        }
    }

    .features-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.3em;
        flex-wrap: wrap;

        @media (min-width: 1500px) {
            margin-left: -4vw;
            margin-right: -4vw;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0 -10vw;
        padding:2em 2em;

        @media (min-width: 1500px) {
            margin: 0 -22vw;
        }

        .gradient-btn {
            width: 300px;
            margin-bottom: 8px;
            padding: 1em;
            border: none;
            border-radius: 40px;
            background: $gradient;
            font-family: "Geologica";
            font-weight: 300;
            font-size: 1em;
            line-height: 1em;
            color: $white;
        }

        .btn-caption {
            margin-bottom: 20px;
            font-family: "Geologica";
            font-weight: 200;
            font-size: 0.8em;
            line-height: 1em;
            text-align: center;
            color: $gray;
        }

        .document-links {
            width: 100%;
            display: flex;
            gap: 20px;
            align-items: left;
            a, .cookie-text{
                display: block;
                text-align: right;
                font-family: "Geologica";
                font-weight: 200;
                font-size: 14px;
                line-height: 18px;
                text-decoration: underline;
                color: $white; 
            }

            a:active{
                color: $white;  
            }
            a:visited{
                color: $white;  
            }
            .cookie-text {
                margin: 0;
                text-decoration:none;

            }
        }
    }
}
