:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-grow: 1;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-grow: 1;

}

*,
::after,
::before {
  box-sizing: border-box;
}


